<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">

            <div class="row">
                <div class="col-md-12" id="modal-desc" style="overflow: auto; max-height: 220px">
                </div>
            </div>
            <legend></legend>

            <div class="row">
                <div class="col-md-12" id="modal-tags">
                </div>
            </div>
            <br>
            <legend></legend>

            <h3>Recommended books</h3>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div id="modal-books" style="min-height: 215px;">
                    </div>
                </div>
            </div>
            <br>
            <legend></legend>

            <h3 id="course-heading">Recommended courses</h3>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div id="modal-courses">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10 col-md-offset-1" style="overflow: auto; max-height: 220px">
                   <pre id="course-info" style="display: none;"></pre>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
