extends layout
block content
    .container-fluid
        .row
            #logo.col-md-offset-3.col-md-6
                img(src='/images/logo.png' class="center-block")

        legend

        .row
            form.form-horizontal.col-md-offset-3.col-md-6
                fieldset
                    // Text input
                    .form-group.col-md-6
                        input#keywords.form-control.input-md(name='keywords', type='text', placeholder='Keywords')
                    // Text input
                    .form-group.col-md-5
                        input#location.form-control.input-md(name='location', type='text', placeholder='Location', autocomplete='on')
                    // Button
                    .form-group.col-md-1
                        button#search.btn.btn-success(name='search') Search

        .row
            #summary.col-md-6.col-md-offset-3(style="display: none;")

        .row
            #pagination.col-md-8.col-md-offset-2(style="display: none;")
                #pages

        .row
            #jobs.col-md-6.col-md-offset-3(style="display: none;")

        .row
            #moreinfo.modal.fade(style="display: none;")