doctype html
html
    head
        title= title
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', integrity='sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==',
        crossorigin='anonymous')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/tag.css')
        link(rel="stylesheet", type="text/css", href="/stylesheets/slick-theme.css")
        link(rel="stylesheet", type="text/css", href="http://cdn.jsdelivr.net/jquery.slick/1.5.7/slick.css")
        script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.4.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js', integrity='sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==',
        crossorigin='anonymous')
        script(type='text/javascript', src='http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places')
        script(type='text/javascript', src='/javascripts/script.js')
        script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.4/handlebars.min.js')
        script(type='text/javascript', src='/javascripts/templates.js')
        script(type='text/javascript', src='/javascripts/jquery.twbsPagination.min.js')
        script(type="text/javascript", src="http://cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js")

        body
        block content
